<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Src/styles/cards.css">
    <link rel="stylesheet" href="/Src/styles/styles.css">
    <link rel="stylesheet" href="/boostrap/css-bosstrap/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Vesper+Libre&display=swap" rel="stylesheet"> 
</head>
<body style="background-color: #f6f2d2;">




      <!-- header -->
      <header class="header">
        <div class="child-header-img "><a href="" style="display: flex; justify-content: center;"><img src="/Assets/IMAGENES/LOGO buguers.png" alt="" style="width: 40%; height: 100%;"></a></div>
        <section class="child-header"><a href="/Src/Pages/Pages/index.html" target="" rel="noopener noreferrer">MENU</a></section>
        <section class="child-header"><a href="/Src/Pages/Pages/Delivery.html" target="" rel="noopener noreferrer">DELIVERY</a></section>
        <section class="child-header"><a href="/Src/Pages/Pages/cupones.html" target="" rel="noopener noreferrer">CUPONES</a></section>
        <section class="child-header"><a href="/Src/Pages/Pages/novedades.html" target="" rel="noopener noreferrer">NOVEDADES</a></section>
    </header>
    <!-- productos -->
    <div class="Intro">
        <h1 class="Intro-1" style="display: inline; padding-top: 2vw;  padding-left: 5vmax;">
           <a style="font-size: medium; font-family: inter ; font-style: italic; text-decoration: none; color: black;" href="/Src/Pages/Pages/index.html">Productos / </a>
           <a style="font-size: medium; font-family: inter ; font-style: italic; text-decoration: none; color: black;" href="/Src/Pages/Pages/novedades.html">Novedades</a>
        </h1>
        <div class="Intro-2 card-d" id ="openModalUser"> 
           <img style="padding-left:5px; ; width: 10vw; height: 10vw;" src="/Assets/ICONOS/Icon User.png"  alt="">
        </div>
       </div>
   

    <section class="box-menu-sections"> 
        <a class="links-menu" href="/Src/Pages/Pages/index.html"><strong>sandwiches</strong></a>
        <a class="links-menu" href="/Src/Pages/Components/cards-pizza.html"> <strong>Pizzas</strong></a>
        <a class="links-menu" href="/Src/Pages/Components/cards-mereinda.html"> <strong>Merienda</strong></a>
        <a class="links-menu" href="/Src/Pages/Components/otros.html"> <strong>otros</strong></a>
     </section>

         <!-- Merienda-->
    <div class="title" style="padding-left: 5vmax; font-family: inter ; font-style: italic; font-size: 2vw; text-decoration:underline;">
        <p><strong style="text-decoration:underline #FFE945;">MERIENDAS</strong></p>
    </div>
      
    <!-- cards 1 -->
    <section class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
        <article>
        <article class="article-1 row" style="padding-bottom: 5vmax; ">
            <div class="card card-d col-3" style="overflow: hidden; width:200px ; height:400px; max-width:200px; max-height:400px; min-width:200px; min-height: 400px; display: flex;" data-id="1">
                <img class="card-img-top" src="/Assets/IMAGENES/mauffin merienda.png"  alt="" >
                <div class="card-body row">
                    <div class="col-12"> <h3 class="card-title " style="font-size:calc(1.2vmax + 5px)"><strong>Muffin Frutilla</strong></h3></div>
                    <div class="row" style="padding-left: 1vw"> 
                        <p class="card-text col-6">ENVIO GRATIS</p>
                        <div class="col-1"></div>
                        <div class="col-2"  style="width: 1rem;  height: 1rem; display: flex;"><img style="width: 100%; height: 1rem; object-fit: cover; object-position: center;  justify-content: center; align-items: center;" src="/Assets/ICONOS/estrella dorada.png" alt=""></div>
                        <i class="card-text col-3" style="letter-spacing: 0.2vmax;">4.5</i>
                    </div>
                    <div class="row " style="padding-left: 1vw"> 
                        <p class="card-text">$1200</p>
                    </div>
                </div>
               </div>
    
                 <!-- Cards 2 -->
                 <div class="card card-d col-3" style="overflow: hidden; width:200px ; height:400px; max-width:200px; max-height:400px; min-width:200px; min-height: 400px; display: flex;" data-id="2">
                    <img class="card-img-top" src="/Assets/IMAGENES/muffins chocolate merienda.png"  alt="" >
                    <div class="card-body row">
                        <div class="col-12"> <h3 class="card-title" style="font-size:calc(1.2vmax + 5px)"><strong>Muffins Chocolate</strong></h3></div>
                        <div class="row" style="padding-left: 1vw"> 
                            <p class="card-text col-6">ENVIO GRATIS</p>
                            <div class="col-1"></div>
                            <div class="col-2"  style="width: 1rem;  height: 1rem; display: flex;"><img style="width: 100%; height: 1rem; object-fit: cover; object-position: center;  justify-content: center; align-items: center;" src="/Assets/ICONOS/estrella dorada.png" alt=""></div>
                            <i class="card-text col-3" style="letter-spacing: 0.2vmax;">4.2</i>
                        </div>
                        <div class="row " style="padding-left: 1vw"> 
                            <p class="card-text">$1100</p>
                        </div>
                    </div>
                   </div>
    
                 <!-- Cards 3 -->
                 <div class="card card-d col-3" style="overflow: hidden; width:200px ; height:400px; max-width:200px; max-height:400px; min-width:200px; min-height: 400px; display: flex;" data-id="3">
                    <img class="card-img-top" src="/Assets/IMAGENES/Medialunas merienda.png"  alt="" >
                    <div class="card-body row">
                        <div class="col-12"> <h3 class="card-title" style="font-size:calc(1.2vmax + 5px)"><strong>Medialunas</strong></h3></div>
                        <div class="row" style="padding-left: 1vw"> 
                            <p class="card-text col-6">ENVIO GRATIS</p>
                            <div class="col-1"></div>
                            <div class="col-2"  style="width: 1rem;  height: 1rem; display: flex;"><img style="width: 100%; height: 1rem; object-fit: cover; object-position: center;  justify-content: center; align-items: center;" src="/Assets/ICONOS/estrella dorada.png" alt=""></div>
                            <i class="card-text col-3" style="letter-spacing: 0.2vmax;">4.7<div class="6"></div></i>
                        </div>
                        <div class="row " style="padding-left: 1vw"> 
                            <p class="card-text">$1200</p>
                        </div>
                    </div>
                   </div>
            </article>
        
              <!-- Cards 4 -->
            <article class="article-1 row" >
                <div class="card card-d col-3" style="overflow: hidden; width:200px ; height:400px; max-width:200px; max-height:400px; min-width:200px; min-height: 400px; display: flex;" data-id="4">
                    <img class="card-img-top" src="/Assets/IMAGENES/dona salada(merienda).png"  alt="" >
                    <div class="card-body row">
                        <div class="col-12"> <h3 class="card-title" style="font-size:calc(1.2vmax + 5px)"><strong>Donut Salada</strong></h3></div>
                        <div class="row" style="padding-left: 1vw"> 
                            <p class="card-text col-6">ENVIO GRATIS</p>
                            <div class="col-1"></div>
                            <div class="col-2"  style="width: 1rem;  height: 1rem; display: flex;"><img style="width: 100%; height: 1rem; object-fit: cover; object-position: center;  justify-content: center; align-items: center;" src="/Assets/ICONOS/estrella dorada.png" alt=""></div>
                            <i class="card-text col-3" style="letter-spacing: 0.2vmax;">4.4</i>
                        </div>
                        <div class="row " style="padding-left: 1vw"> 
                            <p class="card-text">$1100</p>
                        </div>
                    </div>
                   </div>
    
             <!-- Cards 5 -->
             <div class="card card-d col-3" style="overflow: hidden; width:200px ; height:400px; max-width:200px; max-height:400px; min-width:200px; min-height: 400px; display: flex;" data-id="5">
                <img class="card-img-top" src="/Assets/IMAGENES/Tostada de Huevo Pateado merienda.png"  alt="" >
                <div class="card-body row">
                    <div class="col-12"> <h3 class="card-title" style="font-size:calc(1.2vmax + 5px)"><strong>Tostada C/Huevo</strong></h3></div>
                    <div class="row" style="padding-left: 1vw"> 
                        <p class="card-text col-6">ENVIO GRATIS</p>
                        <div class="col-1"></div>
                        <div class="col-2"  style="width: 1rem;  height: 1rem; display: flex;"><img style="width: 100%; height: 1rem; object-fit: cover; object-position: center;  justify-content: center; align-items: center;" src="/Assets/ICONOS/estrella dorada.png" alt=""></div>
                        <i class="card-text col-3" style="letter-spacing: 0.2vmax;">4.5</i>
                    </div>
                    <div class="row " style="padding-left: 1vw"> 
                        <p class="card-text">$1400</p>
                    </div>
                </div>
               </div>
    
             <!-- Cards 6 -->
             <div class="card card-d col-3" style="overflow: hidden; width:200px ; height:400px; max-width:200px; max-height:400px; min-width:200px; min-height: 400px; display: flex;" data-id="6">
                <img class="card-img-top" src="/Assets/IMAGENES/Tostada iberica merienda.png"  alt="" >
                <div class="card-body row">
                    <div class="col-12"> <h3 class="card-title" style="font-size:calc(1.2vmax + 5px)"><strong>Tostada Iberica</strong></h3></div>
                    <div class="row" style="padding-left: 1vw"> 
                        <p class="card-text col-6">ENVIO GRATIS</p>
                        <div class="col-1"></div>
                        <div class="col-2"  style="width: 1rem;  height: 1rem; display: flex;"><img style="width: 100%; height: 1rem; object-fit: cover; object-position: center;  justify-content: center; align-items: center;" src="/Assets/ICONOS/estrella dorada.png" alt=""></div>
                        <i class="card-text col-3" style="letter-spacing: 0.2vmax;">4.7</i>
                    </div>
                    <div class="row " style="padding-left: 1vw"> 
                        <p class="card-text">$1200</p>
                    </div>
                </div>
               </div>
            </article>
        </article>
      </section>

      <div class="modal" id="modal-1">
        <span class="close-modal" id="close">&times;</span>
        <div class="modal-content" id="modal-content">
            <img class="img-modal" id="img-modal" src="/Assets/IMAGENES/mauffin merienda.png" alt="">
          <!-- texto modal -->
           <div class="sect-modal-1">
            <h2 style="font-size: 3vmax; color: black;">Muffin Frutilla</h2>
           </div>
           <div class="sect-modal-2">
            <p style="list-style: none; padding-left: -3vmax; font-size: 2vmax;">Aderezos:</p>
            <ul style="font-size: 2vmax;">
             <li class="market-li">Crema chantilli</li>
             <li class="market-li">Baño de Chocolate</li>
             <li class="market-li">salsa de frutilla</li>
             <li class="market-li">salsa de miel</li>
           </ul>
        </div class="sect-modal-3">
           <div>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Envio <strong style="color: white;">Gratis</strong></span>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Precio: <strong style="color: white;">$1500 C/U</strong></span>
        </div>
        <div class="sect-modal-4">
         <img style="width:3vmax; height:3vmax;" src="/Assets/ICONOS/next.png" alt="">
         <img style="width:5vmax; height:5vmax;"  src="/Assets/ICONOS/next.png" alt="">
         <img style="width:7vmax; height:7vmax;" src="/Assets/ICONOS/next.png" alt="">
        <a href="https://wa.me//3877667141"><img style="width:10vmax; height:10vmax;" src="/Assets/ICONOS/whatsapp.png" alt=""></a> 
        </div>
     </div>
    </div>

    <div class="modal" id="modal-2">
        <span class="close-modal" id="close">&times;</span>
        <div class="modal-content" id="modal-content">
            <img class="img-modal" id="img-modal" src="/Assets/IMAGENES/muffins chocolate merienda.png" alt="">
          <!-- texto modal -->
           <div class="sect-modal-1">
            <h2 style="font-size: 3vmax; color: black;">Muffins De Chocolate</h2>     
          </div>
        <div class="sect-modal-2">
          <p style="list-style: none; padding-left: -3vmax; font-size: 2vmax;">Aderezos:</p>
            <ul style="font-size: 2vmax;">
             <li class="market-li">Crema chantilli</li>
             <li class="market-li">Baño de Chocolate</li>
             <li class="market-li">salsa de frutilla</li>
             <li class="market-li">salsa de miel</li>
           </ul>
        </div>
           <div class="sect-modal-3">
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Envio <strong style="color: white;">Gratis</strong></span>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Precio: <strong style="color: white;">$1100</strong></span>
        </div>
        <div class="sect-modal-4">
         <img style="width:3vmax; height:3vmax;" src="/Assets/ICONOS/next.png" alt="">
         <img style="width:5vmax; height:5vmax;"  src="/Assets/ICONOS/next.png" alt="">
         <img style="width:7vmax; height:7vmax;" src="/Assets/ICONOS/next.png" alt="">
        <a href="https://wa.me//3877667141"><img style="width:10vmax; height:10vmax;" src="/Assets/ICONOS/whatsapp.png" alt=""></a> 
        </div>
     </div>
    </div>

    <div class="modal" id="modal-3">
        <span class="close-modal" id="close">&times;</span>
        <div class="modal-content" id="modal-content">
            <img class="img-modal" id="img-modal" src="/Assets/IMAGENES/Medialunas merienda.png" alt="">
          <!-- texto modal -->
           <div class="sect-modal-1">
            <h2 style="font-size: 4vmax; color: black;">Medialunas</h2>
           </div>
           <div class="sect-modal-2">
            <p style="list-style: none; padding-left: -3vmax; font-size: 2vmax;">Disponible:</p>
            <ul style="font-size: 2vmax;">
             <li class="market-li">Saladas</li>
             <li style="list-style: none;"> </li>
             <li style="list-style: none;"> </li>
             <li class="market-li">Dulces</li>
           </ul>
        </div >
           <div class="sect-modal-3">
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Envio <strong style="color: white;">Gratis</strong></span>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Precio: <strong style="color: white;">$1200</strong></span>
        </div>
        <div class="sect-modal-4">
         <img style="width:3vmax; height:3vmax;" src="/Assets/ICONOS/next.png" alt="">
         <img style="width:5vmax; height:5vmax;"  src="/Assets/ICONOS/next.png" alt="">
         <img style="width:7vmax; height:7vmax;" src="/Assets/ICONOS/next.png" alt="">
        <a href="https://wa.me//3877667141"><img style="width:10vmax; height:10vmax;" src="/Assets/ICONOS/whatsapp.png" alt=""></a> 
        </div>
     </div>
    </div>

    <div class="modal" id="modal-4">
        <span class="close-modal" id="close">&times;</span>
        <div class="modal-content" id="modal-content">
            <img class="img-modal" id="img-modal" src="/Assets/IMAGENES/dona salada(merienda).png" alt="">
          <!-- texto modal -->
           <div class="sect-modal-1">
            <h2 style="font-size: 4vmax; color: black;">Donutt Salada</h2>
           </div>
      
           <div class="sect-modal-2">
            <p style="list-style: none; padding-left: -3vmax; font-size: 2vmax;">LLEVA:</p>
            <ul style="font-size: 2vmax;">
             <li class="market-li">Huevo</li>
             <li class="market-li">Tomate</li>
             <li class="market-li">Queso Crema</li>
           </ul>
        </div class="sect-modal-3">
           <div>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Envio <strong style="color: white;">Gratis</strong></span>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Precio: <strong> style="color: white;"$1100</strong></span>
        </div>
        <div class="sect-modal-4">
         <img style="width:3vmax; height:3vmax;" src="/Assets/ICONOS/next.png" alt="">
         <img style="width:5vmax; height:5vmax;"  src="/Assets/ICONOS/next.png" alt="">
         <img style="width:7vmax; height:7vmax;" src="/Assets/ICONOS/next.png" alt="">
        <a href="https://wa.me//3877667141"><img style="width:10vmax; height:10vmax;" src="/Assets/ICONOS/whatsapp.png" alt=""></a> 
        </div>
     </div>
    </div>

    <div class="modal" id="modal-5">
        <span class="close-modal" id="close">&times;</span>
        <div class="modal-content" id="modal-content">
            <img class="img-modal" id="img-modal" src="/Assets/IMAGENES/Tostada de Huevo Pateado merienda.png" alt="">
          <!-- texto modal -->
           <div class="sect-modal-1">
            <h2 style="font-size: 3vmax; color: black;">Tostada Con Huevo</h2>
           </div>
           <div class="sect-modal-2">
            <p style="list-style: none; padding-left: -3vmax; font-size: 2vmax;">LLEVA:</p>
            <ul style="font-size: 2vmax;">
             <li class="market-li">Cilantro</li>
             <li class="market-li" >Huevo Revuelto</li>
             <li class="market-li">Queso</li>
             <li class="market-li">Pan Tostado</li>
           </ul>
        </div class="sect-modal-3">
           <div>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Envio <strong style="color: white;">Gratis</strong></span>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Precio: <strong style="color: white;">$1500</strong></span>
        </div>
        <div class="sect-modal-4">
         <img style="width:3vmax; height:3vmax;" src="/Assets/ICONOS/next.png" alt="">
         <img style="width:5vmax; height:5vmax;"  src="/Assets/ICONOS/next.png" alt="">
         <img style="width:7vmax; height:7vmax;" src="/Assets/ICONOS/next.png" alt="">
        <a href="https://wa.me//3877667141"><img style="width:10vmax; height:10vmax;" src="/Assets/ICONOS/whatsapp.png" alt=""></a> 
        </div>
     </div>
    </div>

    <div class="modal" id="modal-6">
        <span class="close-modal" id="close">&times;</span>
        <div class="modal-content" id="modal-content">
            <img class="img-modal" id="img-modal" src="/Assets/IMAGENES/Tostada iberica merienda.png" alt="">
          <!-- texto modal -->
           <div class="sect-modal-1">
            <h2 style="font-size: 3.5vmax; color: black;">Tostada Iberica</h2>
           </div>
           <div class="sect-modal-2">
            <p style="list-style: none; padding-left: -3vmax; font-size: 2vmax;">LLEVA:</p>
            <ul style="font-size: 2vmax;">
             <li class="market-li">Jamon Cerrano</li>
             <li class="market-li">Palta</li>
             <li class="market-li">Tomate</li>
             <li class="market-li">Rucula</li>
           </ul>
        </div class="sect-modal-3">
           <div>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Envio <strong style="color: white;">Gratis</strong></span>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Precio: <strong style="color: white;">$1200</strong></span>
        </div>
        <div class="sect-modal-4">
         <img style="width:3vmax; height:3vmax;" src="/Assets/ICONOS/next.png" alt="">
         <img style="width:5vmax; height:5vmax;"  src="/Assets/ICONOS/next.png" alt="">
         <img style="width:7vmax; height:7vmax;" src="/Assets/ICONOS/next.png" alt="">
        <a href="https://wa.me//3877667141"><img style="width:10vmax; height:10vmax;" src="/Assets/ICONOS/whatsapp.png" alt=""></a> 
        </div>
     </div>
    </div>

    <div class="modalc" id="modalc">
        <!-- <span class="close-modal" id="close">&times;</span> -->
        <div class="user-modal">
            <div class="user-title">
                <h2>CREA TU <span style="color:#FFE945; ">USUARIO</span></h2>
            </div>
    
            <form id="form">  
                <div class="grid-User-Form">       
                    <div class="user-child-1">
                       <input type="text" id="name" name="name" required pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ]+" title="Solo se permiten letras y espacios" placeholder="Agregar Un Nombre">
                       <small class="error-message" id="nameError"></small>
                    </div>
                    <div class="user-child-2">
                        <input  type="email" id="email" name="email" required pattern="[a-z0-9._%+-]+@gmail\.com" title="Debe ser un correo Gmail válido" placeholder="Agregar Un CORREO @">
                        <small class="error-message" id="emailError"></small>
                    </div>
                    <div class="user-child-3">
                        <input type="password" id="password" name="password" required minlength="8" title="Debe contener al menos 8 caracteres" placeholder="Agregar Una Contraseña">
                        <small class="error-message" id="passwordError"></small>
                    </div>
                </div> 
                <div class="Button-Cancel-Submit">
                    <button class="button-cancel close" type="submit">Cancelar</button>
                    <button class="button-submit" type="submit">Crear</button>       
                 </div>
            </form>
        </div>
    </div>
 




  <!-- Encuentranos En + pointer -->
  <div style="display: flex; justify-content: center; padding-top: 2vw ;">
    <h3 style="font-family: inter, sans-serif; font-style: italic; font-weight: 800;">ENCUENTRANOS EN <img src="/Assets/ICONOS/Pointer.png" style="width: 5vw; height: 5vw;" alt=""></h3>
   </div>
   <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7248.00122086435!2d-64.1982843128343!3d-24.726859312969633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9410ac2d3a894ddf%3A0x9967fceb78414e35!2sLas%20Lajitas%2C%20Salta!5e0!3m2!1ses!2sar!4v1734024657660!5m2!1ses!2sar" width="600" height="200" style="border:0; position: relative; top: 2vw; left: 25%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 



       <!-- pie de pagina -->
   <footer class="footer container-fluid">
    <section class="section-f row text-black">
          <!-- logo -->
        <div class="col-xs-12 col-md-6 col-lg-3">
          <img style="width:12vw; height: 12vw;" src="/Assets/IMAGENES/LOGO buguers.png" alt="">
        </div>
         <!-- logotipos redes -->
    <div class="col-xs-12 col-md-6 col-lg-3">
      <strong class="h2" style="display: flex; justify-content: center;">Redes</strong>
      <div class="div-icons-foter">
        <div><a href="https://www.facebook.com/login/" target="_blank" rel="noopener noreferrer"><img class="" style="width: 5vmax; height: 5vmax;" src="/Assets/ICONOS/facebook.png" alt="facebook"></a></div>  
        <div><a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img class="" style="width: 5vmax; height: 5vmax;" src="/Assets/ICONOS/instagram.png" alt="instagram"></a></div> 
       <div><a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><img class="" style="width: 5vmax; height: 5vmax;" src="/Assets/ICONOS/youtube.png" alt="youtube"></a></div> 
      </div>
    </div>
    
    <!-- listas Footer -->
    <div class="col-xs-12 col-md-6 col-lg-3">
        <ul style="list-style: none;">
            <p class="h2">Descubre</p>
            <li ><a href="">novedades</a></li>
            <li ><a href="">cupones</a></li>
            <li ><a href="">combos</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <ul style="list-style: none;">
            <p class="h2">Sobre Nosotros</p>
            <li><a href="">Politica y Privacidad</a></li>
            <li><a href="">Quienes somos</a></li>
            <li><a href="">Defenza al Consumudor (ARG)</a></li>
        </ul>
    </div>
   </section>  
</footer>

<script src="/Src/Javascript/index.js" type="module"></script>
<script src="/Src/Javascript/modal.js"></script>
</body>
</html>