<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="/Src/styles/cards.css">
    <link rel="stylesheet" href="/Src/styles/styles.css">
    <link rel="stylesheet" href="/boostrap/css-bosstrap/bootstrap.css">
</head>
<body style="background-color: #f6f2d2;" >

    <!-- header -->
    <header class="header">
        <div class="child-header"><a href=""><img src="/Assets/IMAGENES/LOGO buguers.png" alt="" style="width: 40%; height: 100%;"></a></div>
        <section class="child-header"><a href="/Src/Pages/Pages/index.html" target="_blank" rel="noopener noreferrer">MENU</a></section>
        <section class="child-header"><a href="/Src/Pages/Pages/Delibery.html" target="_blank" rel="noopener noreferrer">DELIVERY</a></section>
        <section class="child-header"><a href="/Src/Pages/Pages/cupones.html" target="_blank" rel="noopener noreferrer">CUPONES</a></section>
        <section class="child-header"><a href="/Src/Pages/Pages/novedades.html" target="_blank" rel="noopener noreferrer">NOVEDADES</a></section>
    </header>
    <!-- productos o novedades -->
    <h1>
        <a style="font-family: inter ; font-style: italic; text-decoration: none; color: black;" href="/Src/Pages/Pages/index.html">Productos /</a>
        <a style="font-family: inter ; font-style: italic; text-decoration: none; color: black;" href="/Src/Pages/Pages/novedades.html">Novedades</a>
    </h1>
    <!--  -->
    <section class="box-menu-sections"> 
        <a class="links-menu" href="/Src/Pages/Pages/index.html"><strong>sandwiches</strong></a>
        <a class="links-menu" href="/Src/Pages/Components/cards-pizza.html"> <strong>Pizzas</strong></a>
        <a class="links-menu" href="/Src/Pages/Components/cards-mereinda.html"> <strong>Merienda</strong></a>
        <a class="links-menu" href="/Src/Pages/Components/otros.html"> <strong>otros</strong></a>
    </section>

   <!-- titulo hamburguesa  -->
    <div class="title" style="font-family: inter ; font-style: italic; font-size: 2vw; text-decoration:underline;">
        <p><strong>HAMBURGUESAS</strong></p>
    </div>



   <!-- titulo hamburguesa  -->
   <div class="title" style="padding-bottom: 2vw; padding-left: 12vmax; font-family: inter ; font-style: italic; font-size: 2vw; text-decoration:underline;">
    <p><strong>HAMBURGUESAS</strong></p>
</div>



<!-- Seccions cards -->
<section class="container" style="padding-left: 5vmax;">                            
<article class="article-1 row ">
    <!-- Cards 1 -->
    <div class="card card-d col-3 card-modal"  id="open-modal1" >
        <img class="card-img-top" src="/Assets/IMAGENES/hamburguesa 1.jpg"  alt="" >
        <div class="card-body row">
            <div class="col-8"> <h3 class="card-title"><strong>BIG BURGUER</strong></h3></div>
            <div class="row" style="padding-left: 25px;"> 
                <p class="card-text col-6">ENVIO GRATIS</p>
                <img class="col-2 card-img" style="width: 2vw; height: 2.5vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                <i class="card-text col-4" style="letter-spacing: 0.5vh;">4.5</i>
            </div>
            <div class="row " style="padding-left: 25px;"> 
                <p class="card-text">$3800</p>
            </div>
        </div>
       </div>

         <!-- Cards 2 -->
         <div class="card card-d col-3 card-modal"  id="open-modal2" >
            <img class="card-img-top" src="/Assets/IMAGENES/hamburguesa 2.png"  alt="" >
            <div class="card-body row">
                <div class="col-8"> <h3 class="card-title"><strong>MAC DOBLE</strong></h3></div>
                <div class="row" style="padding-left: 25px;"> 
                    <p class="card-text col-6">ENVIO GRATIS</p>
                    <img class="col-2" style="width: 2vw; height: 2.5vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                    <i class="card-text col-4" style="letter-spacing: 0.5vh;">4.2</i>
                </div>
                <div class="row " style="padding-left: 25px;"> 
                    <p class="card-text">$4100</p>
                </div>
            </div>
           </div>

         <!-- Cards 3 -->
         <div class="card card-d col-3 card-modal"  id="open-modal3">
            <img class="card-img-top" src="/Assets/IMAGENES/hamburguesa 3.png"  alt="" >
            <div class="card-body row">
                <div class="col-8"> <h3 class="card-title"><strong>DOBLE XL</strong></h3></div>
                <div class="row" style="padding-left: 25px;"> 
                    <p class="card-text col-6">ENVIO GRATIS</p>
                    <img class="col-2" style="width: 2vw; height: 2.5vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                    <i class="card-text col-4" style="letter-spacing: 0.5vh;">4.6<div class="6"></div></i>
                </div>
                <div class="row " style="padding-left: 25px;"> 
                    <p class="card-text">$4500</p>
                </div>
            </div>
           </div>
    </article>

      <!-- Cards 4 -->
    <article class="article-1 row ">
        <div class="card card-d col-3 ">
            <img class="card-img-top" src="/Assets/IMAGENES/hamburguesa 4.png"  alt="" >
            <div class="card-body row">
                <div class="col-8"> <h3 class="card-title"><strong>QUESO XXL</strong></h3></div>
                <div class="row" style="padding-left: 25px;"> 
                    <p class="card-text col-6">ENVIO GRATIS</p>
                    <img class="col-2" style="width: 2vw; height: 2.5vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                    <i class="card-text col-4" style="letter-spacing: 0.5vh;">4.5</i>
                </div>
                <div class="row " style="padding-left: 25px;"> 
                    <p class="card-text">$5100</p>
                </div>
            </div>
           </div>

     <!-- Cards 5 -->
     <div class="card card-d col-3 ">
        <img class="card-img-top" src="/Assets/IMAGENES/hamburguesa 5.png"  alt="" >
        <div class="card-body row">
            <div class="col-8"> <h3 class="card-title"><strong>HAMBURGUESA BBQ</strong></h3></div>
            <div class="row" style="padding-left: 25px;"> 
                <p class="card-text col-6">ENVIO GRATIS</p>
                <img class="col-2" style="width: 2vw; height: 2.5vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                <i class="card-text col-4" style="letter-spacing: 0.5vh;">4.7</i>
            </div>
            <div class="row " style="padding-left: 25px;"> 
                <p class="card-text">$4400</p>
            </div>
        </div>
       </div>

     <!-- Cards 6 -->
     <div class="card card-d col-3 ">
        <img class="card-img-top" src="/Assets/IMAGENES/hamburguesa 6.png"  alt="" >
        <div class="card-body row">
            <div class="col-8"> <h3 class="card-title"><strong>BURGUER CHEDAR</strong></h3></div>
            <div class="row" style="padding-left: 25px;"> 
                <p class="card-text col-6">ENVIO GRATIS</p>
                <img class="col-2" style="width: 2vw; height: 2.5vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                <i class="card-text col-4" style="letter-spacing: 0.5vh;">4.2</i>
            </div>
            <div class="row " style="padding-left: 25px;"> 
                <p class="card-text">$3900</p>
            </div>
        </div>
       </div>
    </article>
</section>

  <!-- sandwiches -->
  <div class="title" style="font-family: inter ; font-style: italic; font-size: 2vw; text-decoration:underline;">
    <p> <strong>SANDWICHES</strong> </p>
  </div>
 <!-- cards 7 -->
 <section class="container col">
    <article class="article-1 row">
        <div class="card card-d col">
            <img class="card-img-top" src="/Assets/IMAGENES/sandwich pollo 1 .png"  alt="" >
            <div class="card-body row">
                <div class="col-8"> <h3 class="card-title"><strong>Pollo Asado</strong></h3></div>
                <div class="row" style="padding-left: 25px;"> 
                    <p class="card-text col-8">ENVIO GRATIS</p>
                    <img class="col-2 box" style="width: 2vw; height: 2vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                    <i class="card-text col-2">4 . 4</i>
                </div>
                <div class="row " style="padding-left: 25px;"> 
                    <p class="card-text">$3500</p>
                </div>
            </div>
           </div>

             <!-- Cards 8 -->
             <div class="card card-d col ">
                <img class="card-img-top" src="/Assets/IMAGENES/sandwich pollo mayonesa 2.png"  alt="" >
                <div class="card-body row">
                    <div class="col-8"> <h3 class="card-title"><strong>Mayonesa de pollo</strong></h3></div>
                    <div class="row" style="padding-left: 25px;"> 
                        <p class="card-text col-8">ENVIO GRATIS</p>
                        <img class="col-2" style="width: 2vw; height: 2vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                        <i class="card-text col-2">4 . 2</i>
                    </div>
                    <div class="row " style="padding-left: 25px;"> 
                        <p class="card-text">$4100</p>
                    </div>
                </div>
               </div>

             <!-- Cards 9 -->
             <div class="card card-d col ">
                <img class="card-img-top" src="/Assets/IMAGENES/sandwich carne.png"  alt="" >
                <div class="card-body row">
                    <div class="col-8"><h3 class="card-title"><strong>Ternera BBQ</strong></h3></div>
                    <div class="row" style="padding-left: 25px;"> 
                        <p class="card-text col-8">ENVIO GRATIS</p>
                        <img class="col-2" style="width: 2vw; height: 2vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                        <i class="card-text col-2">4 . 6<div class="6"></div></i>
                    </div>
                    <div class="row " style="padding-left: 25px;"> 
                        <p class="card-text">$4100</p>
                    </div>
                </div>
               </div>
        </article>
    
          <!-- Cards 10 -->
        <article class="article-1 row  ">
            <div class="card card-d col">
                <img class="card-img-top" src="/Assets/IMAGENES/sandwiches napolitano 4.png"  alt="" >
                <div class="card-body row">
                    <div class="col-8"> <h3 class="card-title"><strong>Napolitano</strong></h3></div>
                    <div class="row" style="padding-left: 25px;"> 
                        <p class="card-text col-8">ENVIO GRATIS</p>
                        <img class="col-2" style="width: 2vw; height: 2vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                        <i class="card-text col-2">4 . 5</i>
                    </div>
                    <div class="row " style="padding-left: 25px;"> 
                        <p class="card-text">$2800</p>
                    </div>
                </div>
               </div>

         <!-- Cards 11 -->
         <div class="card card-d col  ">
            <img class="card-img-top" src="/Assets/IMAGENES/sandwich completo 5.png"  alt="" >
            <div class="card-body row">
                <div class="col-8"> <h3 class="card-title"><strong>Completo Beef</strong></h3></div>
                <div class="row" style="padding-left: 25px;"> 
                    <p class="card-text col-8">ENVIO GRATIS</p>
                    <img class="col-2" style="width: 2vw; height: 2vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                    <i class="card-text col-2">4 . 7</i>
                </div>
                <div class="row " style="padding-left: 25px;"> 
                    <p class="card-text">$4000</p>
                </div>
            </div>
           </div>

         <!-- Cards 12 -->
         <div class="card card-d col  ">
            <img class="card-img-top" src="/Assets/IMAGENES/sandwich fiambre 6.png"  alt="" >
            <div class="card-body row">
                <div class="col-8"> <h3 class="card-title"><strong>vegetal</strong></h3></div>
                <div class="row" style="padding-left: 25px;"> 
                    <p class="card-text col-8">ENVIO GRATIS</p>
                    <img class="col-2" style="width: 2vw; height: 2vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                    <i class="card-text col-2">4 . 8</i>
                </div>
                <div class="row " style="padding-left: 25px;"> 
                    <p class="card-text">$3400</p>
                </div>
            </div>
           </div>
        </article>
  </section>

      <!-- modal 1 -->
      <div class="modal" id="modal1">
        <span class="close" id="close-modal1">&times;</span>
        <div class="modal-content" id="modal-content">
            <img class="img-modal" id="img-modal" src="/Assets/IMAGENES/hamburguesa 1.jpg" alt="">
          <!-- texto modal -->
           <div class="sect-modal-1">
             <h2>Ventana Modal</h2>
           </div>
           <div class="sect-modal-2">
            <ul>
              <li style="list-style: none; padding-right: 1vmax;">LLEVA:</li>
              <li>Doble medallon</li>
              <li>Queso Chedar</li>
              <li>Baicon</li>
              <li>Pepino asado</li>
              <li>salsa BBQ</li>
           </ul>
        </div class="sect-modal-3">
           <div>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Envio <strong>Gratis</strong></span>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Precio: <strong>$4500</strong></span>
        </div>
        <div class="sect-modal-4">
         <img style="width:3vmax; height:3vmax;" src="/Assets/ICONOS/next.png" alt="">
         <img style="width:5vmax; height:5vmax;"  src="/Assets/ICONOS/next.png" alt="">
         <img style="width:7vmax; height:7vmax;" src="/Assets/ICONOS/next.png" alt="">
        <a href=""><img style="width:10vmax; height:10vmax;" src="/Assets/ICONOS/whatsapp.png" alt=""></a> 
        </div>
     </div>
    </div>

      <!-- modal 2-->
      <div class="modal" id="modal2">
        <span class="close" id="close-modal2">&times;</span>
        <div class="modal-content" id="modal-content">
            <img class="img-modal" id="img-modal" src="/Assets/IMAGENES/hamburguesa 2.png">
          <!-- texto modal -->
           <div class="sect-modal-1">
             <h2>Ventana Modal</h2>
           </div>
           <div class="sect-modal-2">
            <ul>
              <li style="list-style: none; padding-right: 1vmax;">LLEVA:</li>
              <li>Doble medallon</li>
              <li>Queso Chedar</li>
              <li>Baicon</li>
              <li>Pepino asado</li>
              <li>salsa BBQ</li>
           </ul>
        </div class="sect-modal-3">
           <div>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Envio <strong>Gratis</strong></span>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Precio: <strong>$4500</strong></span>
        </div>
        <div class="sect-modal-4">
         <img style="width:3vmax; height:3vmax;" src="/Assets/ICONOS/next.png" alt="">
         <img style="width:5vmax; height:5vmax;"  src="/Assets/ICONOS/next.png" alt="">
         <img style="width:7vmax; height:7vmax;" src="/Assets/ICONOS/next.png" alt="">
        <a href=""><img style="width:10vmax; height:10vmax;" src="/Assets/ICONOS/whatsapp.png" alt=""></a> 
        </div>
     </div>
    </div>

        <!-- modal 3 -->
        <div class="modal" id="modal3">
            <span class="close" id="close-modal3">&times;</span>
            <div class="modal-content" id="modal-content">
                <img class="img-modal" id="img-modal" src="/Assets/IMAGENES/hamburguesa 1.jpg" alt="">
              <!-- texto modal -->
               <div class="sect-modal-1">
                 <h2>Ventana Modal</h2>
               </div>
               <div class="sect-modal-2">
                <ul>
                  <li style="list-style: none; padding-right: 1vmax;">LLEVA:</li>
                  <li>Doble medallon</li>
                  <li>Queso Chedar</li>
                  <li>Baicon</li>
                  <li>Pepino asado</li>
                  <li>salsa BBQ</li>
               </ul>
            </div class="sect-modal-3">
               <div>
                <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Envio <strong>Gratis</strong></span>
                <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Precio: <strong>$4500</strong></span>
            </div>
            <div class="sect-modal-4">
             <img style="width:3vmax; height:3vmax;" src="/Assets/ICONOS/next.png" alt="">
             <img style="width:5vmax; height:5vmax;"  src="/Assets/ICONOS/next.png" alt="">
             <img style="width:7vmax; height:7vmax;" src="/Assets/ICONOS/next.png" alt="">
            <a href=""><img style="width:10vmax; height:10vmax;" src="/Assets/ICONOS/whatsapp.png" alt=""></a> 
            </div>
         </div>
        </div>


  <!--CARRUSEL -->
  <div class="carousel">
    <div class="carousel-images">

    </div>
    <button class="carousel-button left">&#8249;</button>
    <button class="carousel-button right">&#8250;</button>
</div>

   <!-- pie de pagina -->
   <footer class="footer container-fluid">
    <section class="section-f row text-black">
          <!-- logo -->
        <div class="col-xs-12 col-md-6 col-lg-3">
          <img style="width:12vw; height: 12vw;" src="/Assets/IMAGENES/LOGO buguers.png" alt="">
        </div>
         <!-- logotipos redes -->
    <div class="col-xs-12 col-md-6 col-lg-3">
      <strong class="h2" style="display: flex; justify-content: center;">Redes</strong>
      <div class="div-icons-foter">
        <div><a href="https://www.facebook.com/login/" target="_blank" rel="noopener noreferrer"><img class="" style="width: 5vmax; height: 5vmax;" src="/Assets/ICONOS/facebook.png" alt="facebook"></a></div>  
        <div><a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img class="" style="width: 5vmax; height: 5vmax;" src="/Assets/ICONOS/instagram.png" alt="instagram"></a></div> 
       <div><a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><img class="" style="width: 5vmax; height: 5vmax;" src="/Assets/ICONOS/youtube.png" alt="youtube"></a></div> 
      </div>
    </div>
    
    <!-- listas Footer -->
    <div class="col-xs-12 col-md-6 col-lg-3">
        <ul style="list-style: none;">
            <p class="h2">Descubre</p>
            <li><a href="">novedades</a></li>
            <li><a href="">cupones</a></li>
            <li><a href="">combos</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <ul style="list-style: none;">
            <p class="h2">Sobre Nosotros</p>
            <li><a href="">Politica y Privacidad</a></li>
            <li><a href="">Quienes somos</a></li>
            <li><a href="">Defenza al Consumudor (ARG)</a></li>
        </ul>
    </div>
   </section>  
</footer>

<script src="/Src/Javascript/index.js" type="module"></script>
<script src="/Src/Javascript/modal.js"></script>
</body>
</html>