<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Src/styles/cards.css">
    <link rel="stylesheet" href="/Src/styles/styles.css">
    <link rel="stylesheet" href="/boostrap/css-bosstrap/bootstrap.css">
    <title>footer</title>
</head>
<body style="background-color: #f6f2d2;">
    <!-- pie de pagina -->
    <footer class="footer container-fluid">
        <section class="section-f row text-black">
              <!-- logo -->
            <div class="col-xs-12 col-md-6 col-lg-3">
              <img style="width:12vw; height: 12vw;" src="/Assets/IMAGENES/LOGO buguers.png" alt="">
            </div>
             <!-- logotipos redes -->
        <div class="col-xs-12 col-md-6 col-lg-3">
          <strong class="h2" style="display: flex; justify-content: center;">Redes</strong>
          <div class="div-icons-foter">
            <div><a href="https://www.facebook.com/login/" target="_blank" rel="noopener noreferrer"><img class="" style="width: 5vmax; height: 5vmax;" src="/Assets/ICONOS/facebook.png" alt="facebook"></a></div>  
            <div><a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img class="" style="width: 5vmax; height: 5vmax;" src="/Assets/ICONOS/instagram.png" alt="instagram"></a></div> 
           <div><a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><img class="" style="width: 5vmax; height: 5vmax;" src="/Assets/ICONOS/youtube.png" alt="youtube"></a></div> 
          </div>
        </div>
        
        <!-- listas Footer -->
        <div class="col-xs-12 col-md-6 col-lg-3">
            <ul style="list-style: none;">
                <p class="h2">Descubre</p>
                <li><a href="">novedades</a></li>
                <li><a href="">cupones</a></li>
                <li><a href="">combos</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <ul style="list-style: none;">
                <p class="h2">Sobre Nosotros</p>
                <li><a href="">Politica y Privacidad</a></li>
                <li><a href="">Quienes somos</a></li>
                <li><a href="">Defenza al Consumudor (ARG)</a></li>
            </ul>
        </div>
       </section>  
    </footer>

</body>
</html>