<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Src/styles/cards.css">
    <link rel="stylesheet" href="/Src/styles/styles.css">
    <link rel="stylesheet" href="/boostrap/css-bosstrap/bootstrap.css">
    <title>Proyecto teclab</title>
    <script src="/Src/Javascript/index.js" type="module"></script>

</head>

<body style="background-color: #f6f2d2;">
     <!-- header -->
     <header class="header">
        <div class="child-header-img"><a style="display: flex; justify-content: center;" href=""><img src="/Assets/IMAGENES/LOGO buguers.png" alt="" style="width: 40%; height: 100%; "></a></div>
        <section class="child-header"><a href="/Src/Pages/Pages/index.html" target="" rel="noopener noreferrer">MENU</a></section>
        <section class="child-header"><a href="/Src/Pages/Pages/Delivery.html" target="" rel="noopener noreferrer">DELIVERY</a></section>
        <section class="child-header"><a href="/Src/Pages/Pages/cupones.html" target="" rel="noopener noreferrer">CUPONES</a></section>
        <section class="child-header"><a href="/Src/Pages/Pages/novedades.html" target="" rel="noopener noreferrer">NOVEDADES</a></section>
    </header>
    <!-- productos -->
    <h1 style="padding-top: 2vw;  padding-left: 5vmax;">
        <a style="font-size: medium; font-family: inter ; font-style: italic; text-decoration: none; color: black;" href="/Src/Pages/Pages/index.html">Productos / </a>
        <a style="font-size: medium; font-family: inter ; font-style: italic; text-decoration: none; color: black;" href="/Src/Pages/Pages/novedades.html">Novedades</a>
    </h1>
    <!--sections productos / menu  -->
    <section class="box-menu-sections"> 
        <a class="links-menu" href="/Src/Pages/Pages/index.html"><strong>sandwiches</strong></a>
        <a class="links-menu" href="/Src/Pages/Components/cards-pizza.html"> <strong>Pizzas</strong></a>
        <a class="links-menu" href="/Src/Pages/Components/cards-mereinda.html"> <strong>Merienda</strong></a>
        <a class="links-menu" href="/Src/Pages/Components/otros.html"> <strong>otros</strong></a>
     </section>

   <!-- titulo hamburguesa  -->
    <div class="title" style="padding-bottom: 2vw; padding-left: 12vmax; font-family: inter ; font-style: italic; font-size: 2vw; text-decoration:underline;">
        <p><strong>HAMBURGUESAS</strong></p>
    </div>



    <!-- Seccions cards -->
    <section class="container" style="padding-left: 5vmax;">                            
        <article class="article-1 row ">
            <!-- Cards 1 -->
            <div class="card card-d col-3 " id="card-modal">
                <img class="card-img-top" src="/Assets/IMAGENES/hamburguesa 1.jpg"  alt="" >
                <div class="card-body row">
                    <div class="col-8"> <h3 class="card-title"><strong>BIG BURGUER</strong></h3></div>
                    <div class="row" style="padding-left: 25px;"> 
                        <p class="card-text col-6">ENVIO GRATIS</p>
                        <img class="col-2 card-img" style="width: 2vw; height: 2.5vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                        <i class="card-text col-4" style="letter-spacing: 0.5vh;">4.5</i>
                    </div>
                    <div class="row " style="padding-left: 25px;"> 
                        <p class="card-text">$3800</p>
                    </div>
                </div>
               </div>
    
                 <!-- Cards 2 -->
                 <div class="card card-d col-3 ">
                    <img class="card-img-top" src="/Assets/IMAGENES/hamburguesa 2.png"  alt="" >
                    <div class="card-body row">
                        <div class="col-8"> <h3 class="card-title"><strong>MAC DOBLE</strong></h3></div>
                        <div class="row" style="padding-left: 25px;"> 
                            <p class="card-text col-6">ENVIO GRATIS</p>
                            <img class="col-2" style="width: 2vw; height: 2.5vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                            <i class="card-text col-4" style="letter-spacing: 0.5vh;">4.2</i>
                        </div>
                        <div class="row " style="padding-left: 25px;"> 
                            <p class="card-text">$4100</p>
                        </div>
                    </div>
                   </div>
    
                 <!-- Cards 3 -->
                 <div class="card card-d col-3 ">
                    <img class="card-img-top" src="/Assets/IMAGENES/hamburguesa 3.png"  alt="" >
                    <div class="card-body row">
                        <div class="col-8"> <h3 class="card-title"><strong>DOBLE XL</strong></h3></div>
                        <div class="row" style="padding-left: 25px;"> 
                            <p class="card-text col-6">ENVIO GRATIS</p>
                            <img class="col-2" style="width: 2vw; height: 2.5vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                            <i class="card-text col-4" style="letter-spacing: 0.5vh;">4.6<div class="6"></div></i>
                        </div>
                        <div class="row " style="padding-left: 25px;"> 
                            <p class="card-text">$4500</p>
                        </div>
                    </div>
                   </div>
            </article>
        
              <!-- Cards 4 -->
            <article class="article-1 row ">
                <div class="card card-d col-3 ">
                    <img class="card-img-top" src="/Assets/IMAGENES/hamburguesa 4.png"  alt="" >
                    <div class="card-body row">
                        <div class="col-8"> <h3 class="card-title"><strong>QUESO XXL</strong></h3></div>
                        <div class="row" style="padding-left: 25px;"> 
                            <p class="card-text col-6">ENVIO GRATIS</p>
                            <img class="col-2" style="width: 2vw; height: 2.5vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                            <i class="card-text col-4" style="letter-spacing: 0.5vh;">4.5</i>
                        </div>
                        <div class="row " style="padding-left: 25px;"> 
                            <p class="card-text">$5100</p>
                        </div>
                    </div>
                   </div>
    
             <!-- Cards 5 -->
             <div class="card card-d col-3 ">
                <img class="card-img-top" src="/Assets/IMAGENES/hamburguesa 5.png"  alt="" >
                <div class="card-body row">
                    <div class="col-8"> <h3 class="card-title"><strong>HAMBURGUESA BBQ</strong></h3></div>
                    <div class="row" style="padding-left: 25px;"> 
                        <p class="card-text col-6">ENVIO GRATIS</p>
                        <img class="col-2" style="width: 2vw; height: 2.5vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                        <i class="card-text col-4" style="letter-spacing: 0.5vh;">4.7</i>
                    </div>
                    <div class="row " style="padding-left: 25px;"> 
                        <p class="card-text">$4400</p>
                    </div>
                </div>
               </div>
    
             <!-- Cards 6 -->
             <div class="card card-d col-3 ">
                <img class="card-img-top" src="/Assets/IMAGENES/hamburguesa 6.png"  alt="" >
                <div class="card-body row">
                    <div class="col-8"> <h3 class="card-title"><strong>BURGUER CHEDAR</strong></h3></div>
                    <div class="row" style="padding-left: 25px;"> 
                        <p class="card-text col-6">ENVIO GRATIS</p>
                        <img class="col-2" style="width: 2vw; height: 2.5vw; padding-bottom:10px ;" src="/Assets/ICONOS/estrella dorada.png" alt="">
                        <i class="card-text col-4" style="letter-spacing: 0.5vh;">4.2</i>
                    </div>
                    <div class="row " style="padding-left: 25px;"> 
                        <p class="card-text">$3900</p>
                    </div>
                </div>
               </div>
            </article>
      </section>

      <!-- modal -->
      <div class="modal" id="modal">
        <span class="close" id="close">&times;</span>
        <div class="modal-content" id="modal-content">
            <img class="img-modal" id="img-modal" src="/Assets/IMAGENES/hamburguesa 1.jpg" alt="">
          <!-- texto modal -->
           <div class="sect-modal-1">
             <h2>Ventana Modal</h2>
           </div>
           <div class="sect-modal-2">
            <ul>
              <li style="list-style: none; padding-right: 1vmax;">LLEVA:</li>
              <li>Doble medallon</li>
              <li>Queso Chedar</li>
              <li>Baicon</li>
              <li>Pepino asado</li>
              <li>salsa BBQ</li>
           </ul>
        </div class="sect-modal-3">
           <div>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Envio <strong>Gratis</strong></span>
            <span style="font-family: Inter sans-serif; font-style: italic; padding-left: 5vmax;">Precio: <strong>$4500</strong></span>
        </div>
        <div class="sect-modal-4">
         <img style="width:3vmax; height:3vmax;" src="/Assets/ICONOS/next.png" alt="">
         <img style="width:5vmax; height:5vmax;"  src="/Assets/ICONOS/next.png" alt="">
         <img style="width:7vmax; height:7vmax;" src="/Assets/ICONOS/next.png" alt="">
        <a href=""><img style="width:10vmax; height:10vmax;" src="/Assets/ICONOS/whatsapp.png" alt=""></a> 
        </div>
     </div>
    </div>



    <script src="/Src/Javascript/modal.js"></script>
    <script src="/Src/Javascript/carrusel.js"></script>
</body>
</html>